@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700,300&display=swap')

.banner
    position: fixed
    width: 100vw
    height: 100vh
    overflow: hidden
    top: 0

    font-family: "Roboto Mono", "Arial", "sans serif"
    font-size: 3.5rem
    padding: 50px 0 0 100px
    display: flex
    align-items: stretch
    flex-direction: column
    font-weight: 700
    color: #fff
    background-image: radial-gradient($logo-color 0%, $logo-darker)
    background-repeat: no-repeat
    height: 100vh
    opacity: 1
    transition: opacity 1.2s linear
    z-index: 5
    @media screen and (max-width: $tablet)
        font-size: 2rem
        padding: 80px 0 0 20px

    &__logo
        display: block
        position: absolute
        width: 20vh
        top: 22%
        right: 20%
        animation: logo-move 10s linear infinite
        animation-direction: alternate
        @media screen and (max-width: $big)
            right: 15%
            width: 15vh
            top: 30%
        @media screen and (max-width: $tablet)
            top: 40%
            left: 50%
            width: 15vh
    &__text
        position: absolute
        text-transform: uppercase
        top: 80%
        left: 50%
        font-size: 1rem
        transform: translate(-50%, -50%)
        opacity: 0.3
        @media screen and (max-width: $tablet)
            top: 90%
            font-size: 0.6rem
    &--hidden
        opacity: 0.01

.t3xts
    line-height: 1
    position: relative
    top: 35%
    left: 25%
    perspective: 1000px
    text-transform: uppercase
    animation: text-move 15s linear infinite
    animation-direction: alternate
    @media screen and (max-width: $big)
        left: 10%
    @media screen and (max-width: $tablet)
        top: 0

.t3xt
    transform-style: preserve-3d
    position: absolute
    top: 0
    text-transform: uppercase
.t3xt-out
    animation: text-out .5s ease
.t3xt-in
    animation: text-in .5s ease

@keyframes text-out
    to
        transform: rotateX(90deg)
        opacity: 0
@keyframes text-in
    from
        opacity: 0
        transform: rotateX(-90deg)
    to
        transform: rotateX(0deg)
        opacity: 1

@keyframes logo-move
    from
        transform: translateX(-40%) scale(100%)
    to
        transform: translateX(-50%) scale(105%)

@keyframes text-move
    from
        transform: translate(-5%, 0) scale(100%)
        letter-spacing: 1px
    to
        transform: translate(0%, 0) scale(110%)
        letter-spacing: 3px
