body
    background-color: mix(white, $main-light, 80)

.header__logo
    display: block
    position: absolute
    margin: 1vh auto
    height: 30vh

.main-nav
    &__list
        display: flex
        justify-content: center
        list-style: none
        text-align: center
    &__list-item
        margin: 15px 30px
        padding: 15px
        border: black solid
    &__link
        display: inline-block

.main-section
    display: flex

.article
    flex: 1

.footer
    display: flex
    &__logo
        flex: 1
    &__copyright
        flex: 1
