.header__logo
    display: block
    margin: 0 auto

.main-nav
    &__list
        list-style: none
        text-align: center
    &__link
        display: inline-block

.main-section
    display: flex

.article
    flex: 1

.footer
    display: flex
    &__logo
        flex: 1
    &__copyright
        flex: 1
