body
    background-color: $main-light
    position: relative

html
    scroll-snap-type: y mandatory

.login-bar
    position: fixed
    width: 100%
    top: 0
    border-top: black solid 7px
    border-color: $logo-darker
    z-index: 5
    &__text
        position: absolute
        right: 10%
        padding: 0 1% 0.3% 1%
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px

        font-size: 0.7em
        font-family: $font-main
        font-weight: 300
        letter-spacing: 0.1em
        color: $main-light
        background-color: $logo-darker
        &:hover
            transition: 0.2s
            color: white
            padding: 0.3% 1% 0.3% 1%
            cursor: pointer
        &::before
            content: "+"
            padding-right: 15px
            &:hover
                color: white

.footer
    position: fixed
    display: flex
    justify-content: center

    height: 15vh
    align-items: center
    width: 100%
    bottom: 0%

    background-color: $logo-darker
    @media screen and (max-width: $phone)
        height: 10vh
    &__logo
        display: block
        height: 60%
        padding-right: 6%
        opacity: 0.8
    @media screen and (max-width: $tablet)
        padding-right: 30%
    &__copyright
        font-size: 0.9em
        color: $main-light
        font-family: $font-main
        opacity: 0.8
    @media screen and (max-width: $phone)
        font-size: 0.7em
    &__image_1
        display: block
        position: relative
        top: -80%
        right: 20%
        height: 80%
        @media screen and (max-width: $tablet)
            right: 5%
    &__image_2
        display: block
        position: relative
        top: -75%
        left: 25%
        height: 75%
        @media screen and (max-width: $tablet)
            left: 70%

.scroller
    position: fixed
    width: 50px
    height: 50px
    bottom: 20%
    right: 5%
    border-radius: 50%
    background-color: $logo-darker
    cursor: pointer
    opacity: 1
    transition: 0.3s
    @media screen and (max-width: $phone)
        width: 40px
        height: 40px
        opacity: 0.7
    &:hover
        transition: 0.5s
        transform: translateY(-15px)
    & i
        marin: 0 auto
        top: 27%
        left: 33%
        display: block
        position: relative
        color: $main-light
        font-size: 1.5em
    &--hidden
        display: none
    @media screen and (max-width: $phone)
        bottom: 12%
        right: 7%
        font-size: 0.85em
